@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --form-color: rgb(41, 71, 130);
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.brand-section {
  margin: 0;
  padding: 0;
  background-image: url("./img/test.jpg");
  background-size: 100% 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-width: 400px;
  text-align: center;
}

.title-section {
  margin-top: 275px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-title {
  font-size: 4rem;
}

.img-credit {
  font-size: 0.9rem;
}

.img-credit a {
  color: #fff;
}

.form-section {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.form-info {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 25px 10px 50px;
}

.form-info p {
  font-size: 1.5rem;
}

form {
  z-index: 5;
  color: #fff;
  background-color: var(--form-color);
  box-shadow: 0 5px 10px -5px black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 25px 50px;
  gap: 25px;
}

form legend {
  font-size: 1.5rem;
  font-weight: bold;
}

form section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section fieldset {
  padding: 0;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

form fieldset label {
  font-size: 0.75rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form fieldset input {
  width: 300px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
  margin-bottom: 15px;
}

.error {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

.form-footer {
  background-color: whitesmoke;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

button {
  background-color: var(--form-color);
  box-shadow: 0 0 10px black;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.form-footer p a {
  color: var(--form-color);
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  body {
    flex-direction: column;
  }

  .brand-section {
    background-size: cover;
    width: 100%;
  }

  .title-section {
    margin-top: 100px;
    width: 100%;
  }

  .form-section {
    display: flex;
    flex-direction: column;
  }

  form {
    gap: 25px;
    padding: 10px 15px;
  }

  form,
  .form-footer {
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  form {
    padding: 25px;
  }

  form section {
    flex-direction: column;
    gap: 15px;
  }

  .form-info {
    padding: 25px 25px;
    text-align: center;
  }

  section fieldset {
    flex-direction: column;
    gap: 15px;
  }
}
